.page-template-ppc-block {

    .desktop-left-contact,
    #header-top_right {
        display: none !important;
    }

    .body-container {
        margin-left: 0 !important;

        @media screen and (min-width:1024px) {
            max-width:70%;
            margin:100px auto 0 auto !important;
        }

        section {
            padding:40px 0;
            
            .container {
                width: 100%;
                max-width: 1600px;
                margin: 0 auto;
                padding: 0 50px;
                box-sizing: border-box;

                @media screen and (max-width:820px) {
                    padding:0 35px;
                }

                .columns {
                    p {
                        font-size: 18px !important;
                        line-height: 145% !important;
                    }
                }
            }

            .ppc-cta-block {
                font-weight: bold;
            }
        
            .btn {
                display: inline-flex;
                padding: 16px 60px !important;
                text-decoration: none !important;
                font-size: 16px !important;
                transition: 0.2s ease all;
                font-weight: bold !important;
                height: auto;
                align-items: center;
                margin-top: 0 !important;
                color: black !important;
                transition: 0.2s ease all;
                width: auto !important;
                background: #DBFF76;
                border:3px solid black;
                white-space: nowrap;

                @media screen and (max-width:820px) {
                    margin-bottom: 15px !important;
                }
            }
        }
    }
}