.pre-footer {
    z-index: -1;

    &_bottom-text {
        font-size: 16px;
        
        span {
            color:$red;
        }

        a {
            font-weight: 700;
            color:inherit;
            text-decoration: underline;
        }
    }

    .bullet {
        margin: 0 auto;
        display: inline-block;
        width: auto;

        img {
            height: 155px;
            display: block;
        }
    }
}

//accidents shortcode widget
.accidents-global-widget {
    margin-bottom: 30px;

    .accidents h1 {
        line-height: 72px;
        margin-bottom: 20px;
    }

    .speed-text {
        display: none;
    }

    .statistic {
        width: 100%;
        padding: 0;
    }

    .data {
        padding-bottom: 320px;
        overflow: hidden;
        position: relative;
        margin: 40px 0;
        padding-top: 40px;
    }

    .speed-diagram {
        right: 50%;
        margin-right: -185px;
        top: initial;
        bottom: -75px;
        width: 370px;
    }

    .arrow-diagram {
        right: 50%;
        margin-right: -16px;
        top: inherit;
        bottom: 96px;
    }

    .count-accidents img {
        display: none;
    }

    .accidents {
        text-align: center;
    }

    .count-accidents {
        padding-bottom: 10px;
    }

    h2 {
        font-size: 54px;
        line-height: 60px;
    }

    .line-canvas,
    .options-accidents {
        display: none;
    }

    .table-age-group {
        display: block;
        padding: 70px 0 30px;
    }

    //
    @media screen and (max-width: 767px) {

        .wrapper {
            padding: 45px 0;
        }

        .accidents {
            padding: 60px 30px;
        }

        .name {
            font-size: 60px;
            line-height: 38px;
        }

        .data h4 span.county-number {
            font-size: 70px;
        }
    }

    @media screen and (max-width: 575px) {
        .accidents {
            padding: 50px 20px;
        }

        .data {
            padding-bottom: 310px;
            padding-top: 30px;
            margin-bottom: 30px;
        }

        .data ul {
            padding: 13px 0 15px;
        }

        .data li:last-of-type {
            border: none;
        }

        .population {
            padding: 0;
            line-height: 18px;
        }

        h1 {
            font-size: 60px;
            line-height: 60px;
        }

        .data-counties li {
            font-size: 21px;
        }

        .data-counties span {
            font-size: 21px;
        }

        .data h4 {
            font-size: 24px;
            max-width: 410px;
            padding-right: 122px;
        }

        .data h4 span.county-number {
            font-size: 54px;
            right: inherit;
            left: calc(100% - 122px);
        }

        .data .county-number sup {
            top: 7px;
            font-size: 28px;
        }

        .in-county {
            font-size: 30px;
            line-height: 20px;
        }

        .name {
            font-size: 54px;
            line-height: 34px;
        }

        .accidents h1 {
            line-height: 60px;
        }

        .count {
            font-size: 54px;
        }

        .data-counties li {
            display: block;
            line-height: 25px;
        }

        .data-counties span {
            margin: 0 8px 0 0;
            line-height: 25px;
            padding: 0;
        }

        .data-counties span:after {
            display: none;
        }

        .count-accidents {
            padding-bottom: 0;
        }

        h2 {
            font-size: 48px;
            line-height: 54px;
        }
    }

    @media screen and (max-width: 495px) {
        h2 {
            font-size: 40px;
            line-height: 44px;
        }

        .data h4 span.county-number {
            font-size: 24px;
            right: inherit;
            position: relative;
            line-height: 30px;
            margin: 0 6px;
            width: initial;
            padding-bottom: 0;
            left: inherit;
            top: 0;
        }

        .data .county-number sup {
            top: 0;
            left: 0;
            font-size: 24px;
            position: relative;
            margin-left: 6px;
        }

        .data h4 {
            padding-right: 0;
            text-align: center;
        }

        .count-accidents h4 {
            font-size: 20px;
            line-height: 24px;
        }
    }

    @media screen and (max-width: 475px) {
        .data li:first-of-type {
            margin-right: 0;
            border: none;
        }

        .data li:last-of-type {
            margin-left: 0;
        }

        .data li {
            display: block;
            vertical-align: top;
            text-align: center;
        }

        .name {
            font-size: 54px;
            line-height: 44px;
        }

        .population small {
            font-size: 18px;
            letter-spacing: 3px;
            margin-left: 8px;
        }

        .population {
            padding: 0;
            line-height: 18px;
            font-size: 18px;
        }

        .population br {
            display: none;
        }

        .data ul {
            padding: 20px 0 15px;
        }

        .data p {
            line-height: 20px;
        }

        .speed-diagram {
            right: 50%;
            margin-right: -125px;
            top: initial;
            bottom: -46px;
            width: 250px;
        }

        .arrow-diagram {
            right: 50%;
            margin-right: -11px;
            top: inherit;
            bottom: 70px;
            height: 100px;
            transform-origin: 10px 90px;
        }

        .data {
            padding-bottom: 215px;
        }
    }

    @media screen and (max-width: 425px) {
        h1 {
            font-size: 42px;
            line-height: 46px;
        }

        h2 {
            font-size: 38px;
            line-height: 42px;
        }

        h3 {
            font-size: 36px;
            line-height: 48px;
        }

        .accidents h1 {
            font-size: 34px;
            line-height: 38px;
            word-break: break-word;
        }

        .name {
            font-size: 44px;
        }
    }
}

.alcohol-global-widget {
    margin-bottom: 90px;

    @media screen and (max-width: 1240px) {
        margin-bottom: 30px;
    }

    &.factor {
        padding: 50px 100px;

        @media screen and (max-width: 575px) {
            padding: 50px !important;
        }
    }

    .content {
        width: 100%;
    }

    .left-col,
    .right-col {
        width: 100%;
    }

    .factor-img {
        width: 300px;
        right: 0;
        top: inherit;
        bottom: -15px;
    }

    .diagram {
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding-top: 0;

        h4 {
            width: fit-content;
            padding-right: 0;
        }
    }

    @media screen and (max-width: 1400px) {
        .keys {
            left: 160px !important;
            top: 250px !important;
        }
    }

    @media screen and (max-width: 1199px) {
        .diagram {
            display: flex !important;
            flex-direction: column;
            justify-content: flex-start !important;
            align-items: flex-start !important;
        }
    }

    @media screen and (max-width: 575px) {
        .factor-img {
            right: -100px !important;
        }
    }
}

.speed-global-widget {
    margin-bottom: 30px;

    @media screen and (max-width: 1200px) {
        margin-top: 0;
    }

    @media screen and (max-width: 768px) {
        margin-bottom: 30px;
    }

    @media screen and (max-width: 575px) {
        padding-bottom: 500px !important;
    }

    .factor-img {
        top: unset !important;
        bottom: 0 !important;
        max-width: 100% !important;
    }
    .diagram {
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        h4 {
            padding-right: 0 !important;
        }
    }
}

.fatality-global-widget {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column-reverse;
    padding: 50px 50px 0 50px !important;
    height: inherit !important;
    background: #d9dada !important;

    .fatality p {
        width: 100%;
    }

    .left-col,
    .right-col {
        width: 100%;
    }

    .data li:first-of-type {
        margin-right: 5px;
    }

    .data li:last-of-type {
        margin-left: 5px;
    }

    .data h4 {
        position: relative;
        max-width: 475px;
        padding-right: 165px;
        text-align: right;
        margin: 0 auto;
    }

    .data h4 span.county-number {
        position: absolute;
        right: inherit;
        top: 14px;
        left: calc(100% - 165px);
        min-width: -webkit-min-content;
        min-width: -moz-min-content;
        min-width: min-content;
    }

    .data .county-number sup {
        top: 2px;
    }

    .factor-img {
        position: relative;
        left: -50px !important;
        bottom: 0 !important;
        top: unset !important;
        right: unset !important;
    }

    .diagram {
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding-top: 0;

        h4 {
            width: fit-content;
            padding-right: 0;
        }
    }
}

// Block Marketing Banner (block-banner.php)

.notice-banner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
    row-gap: 12px;
    background: $blk;
    margin-top: 93px;
    padding: 12px;
    box-sizing: border-box;
    @include respond(desktop) {
        margin-top: 80px;
    }
    p,
    a {
        margin: 0 !important;
        @include respond(phone) {
            font-size: 14px !important;
        }
    }

    a.btn {
        padding: 12px 48px !important;
        @include respond(phone) {
            padding: 12px 48px !important;
        }
    }

    p {
        color: $white;
    }
}