/**
 * Header Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

header {
    position: fixed;
    z-index: 10;
    background-color:$white;
    padding:0;
    width:100%;
    top:0;

    #header-utility {
        &-mobile {       
            display:none;     

        }
    }
    
    .back-to-main {
        position: absolute;
        left: 8px;
        top: 93px;
        padding: 12px 20px 12px 10px;
        background:$blk;
        z-index: -1;

        @include respond(desktop) {
            top:80px;
            padding:8px 15px 8px 7px;
        }

        a {
            display: flex;
            align-items: center;
            font-size: 12px;
            color:$white;
            font-family: $sans;
            line-height: 100%;

            &:hover {
                color:$green;
            }

            .icon-arrow-left {
                color: $green;
                margin: 0 10px 0 5px;
                font-size: 14px;
            }
        }
    }

    #header-top {
        display:flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        margin:0 7.5%;
        padding:0;

        @include respond(desktop-lg) {
            margin:0 3%
        }

        @include respond(desktop) {
            height:80px;
        }

        #header-top_left {
            display: flex;
            width: 20%;
            justify-content: flex-start;

            @include respond(desktop) {
                width:50%;
            }

            @include respond(tab-land) {
                width:100%;
            }

            .custom-logo-link {
                width: 100%;
                height: auto;
                display:flex;

                @include respond(desktop) {
                    width:60%;
                }

                .custom-logo {
                    max-height: 74px;
                    max-width: 340px;
                }
            }
        }

        #header-top_right {
            display:flex;
            flex-wrap: nowrap;

            #header-top_menu, 
            nav {
                display:flex;

                @include respond(desktop) {
                    padding:2.5%;
                    top: 80px;
                    background: $white;
                    height: auto;
                    position: absolute;
                    left: -3.5%;
                    width: 107%;
                    box-sizing: border-box;
                    height: calc(100vh - 80px);
                    overflow-y: scroll;
                    overflow-x: hidden;
                    display: none;
                }

                .menu {
                    list-style-type: none;
                    display: flex;
                    padding-bottom:0 !important;
                    align-items: center;
                    margin-left: 0;
                    position: relative;

                    @include respond(desktop) {
                        flex-wrap: wrap;
                    }

                    li {
                        display: flex;
                        margin:0 5px;
                        position: relative;
                        height: auto;

                        @include respond(desktop) {
                            width:100%;

                            &::before {
                                position: absolute;
                                content: "";
                                width: 100%;
                                height: 50px;
                                left: 0;
                                top: 0;
                                background: $lt-grey !important;
                                opacity:0;
                                transform: scaleY(1) !important;
                                transition-property: opacity;
                                transition-duration: 0.3s;
                                transition-timing-function: ease-out;
                                z-index: 1 !important;
                            }

                            &.active,
                            &.current-menu-item {
                                &::before {
                                    opacity:1;
                                    
                                }
                            }
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            z-index: -1;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: $green;
                            transform: scaleY(0);
                            transform-origin: 50% 100%;
                            transition-property: transform;
                            transition-duration: 0.3s;
                            transition-timing-function: ease-out;
                        }
                        
                        &:hover {
                            &:before {
                                transform: scaleY(1);
                            }
                        }

                        .accordion-toggle {
                            display:none;
                        }

                        &:not(.menu-item-search) {
                            &.disable {
                                opacity: 0.5;
                                pointer-events: none;
                            }
                        }

                        @include respond(desktop) {
                            display:flex;
                            margin: 0;
                            flex-wrap: wrap;
                            padding-bottom: 0;
                            
                            .accordion-toggle {
                                position: absolute;
                                top: 4px;
                                right: 4px;
                                z-index: 10;
                                width: 40px;
                                height: 40px;
                                transition:$trans;
                                display:flex;
                                justify-content: center;
                                align-items: center;
                                background:$lt-grey;
                                &:after {
                                    content: "";
                                    height: 100%;
                                    width: 100vw;
                                    position: absolute;
                                    background: none;
                                    top: 0;                   
                                    left: -100vw;
                                }

                                .toggle-rotate {
                                    font-size: 12px;
                                }

                                span {
                                    color: $blk;
                                    font-size: 25px;
                                    transition:$trans;
                                }

                                &.toggle-background {
                                    transition:$trans;
                                    
                                    .toggle-rotate {
                                        transform: rotate(-180deg) !important;
                                        transition:$trans;
                                        top:0 !important;
                                        position: relative;
                                    }
                                } 
                            }                   
                        }

                        &:hover, 
                        & > a:focus ~, 
                        & > a:focus-visible ~ {
                            ul.sub-menu {
                                display:block;
                                z-index: 0;
                                -webkit-animation: .3s ease 0s normal forwards 1 fadein;
                                animation: .3s ease 0s normal forwards 1 fadein;

                                @media screen and (max-width:$tab-land) {
                                    -webkit-animation:none;
                                    animation:none;
                                }
                                li {
                                    a {
                                        background:none;
                                        color:$blk !important;
                                        &:hover {
                                            color:$blk !important;
                                        }
                                    }
                                }
                            }

                            @include respond(desktop) {
                                ul.sub-menu {
                                    display:none;
                                }
                            }
                        }

                        &.main-nav-contact {
                            margin-left: 20px !important;

                            @include respond(desktop) {
                                margin-left: 0 !important;
                            }

                            a {
                                background: $blk;
                                color: $white !important;
                                padding: 10px 45px !important;

                                @include respond(desktop) {
                                    width:100%;
                                    justify-content:center;
                                    margin:0 10px;
                                }

                                &:hover {
                                    color: $white !important;
                                    background:$red;
                                }
                            }
                        }

                        &.menu-item-has-children {
                            a {
                                padding-right: 30px !important;
                            }
                            &::after {
                                content: "▼";
                                font-family: inherit;
                                position: absolute;
                                font-size: 10px;
                                top: 30px;
                                right: 12px;
                                height:30px;
                                z-index: 1;

                                @include respond(desktop) {
                                    display:none;
                                }
                            }
                        }

                        &.current-menu-parent,
                        &.current-menu-item,
                        &.current-page-ancestor {

                            &::before {
                                transform: scaleY(0.24);
                            }

                            &:hover {
                                &::before {
                                    transform: scaleY(1);
                                }

                                a {
                                    color:$blk;
                                    @include respond(desktop) {
                                        color:$blk;
                                    }
                                }
                                .sub-menu {
                                    left:0;
                                    .current_page_item {
                                        a {
                                            color:$blk !important;
                                        }
                                    }
                                }
                            }
                        }

                        a {
                            color:$blk;
                            padding:10px 13px;
                            text-transform: none;
                            font-size: 16px;
                            font-family: $sans;
                            font-weight:400;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            vertical-align: middle;
                            transform: perspective(1px) translateZ(0);
                            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                            position: relative;
                            overflow: hidden;
                            text-decoration: none !important;
                            z-index: 1;
                            border-top: 20px solid $white;
                            border-bottom: 20px solid $white;

                            @include respond(desktop) {
                                padding:10px;
                                border-top:0;
                                border-bottom: 0;
                                font-weight: 700;
                            }
                            
                            &:hover {
                                color:$blk !important;
                            }

                            &:hover,
                            &.current_page_item {
                                color:$blk;
                            }
                        }
                        ul.sub-menu {
                            width: auto;
                            white-space: nowrap;
                            transition: $trans;
                            position: absolute;
                            overflow: visible;
                            background: $white;
                            z-index: 500;
                            margin-top: 0;
                            padding: 25px 0;
                            display: none;
                            left: 20px !important;
                            margin-left: -30px;
                            width: auto;
                            top:25px; 
                            box-shadow: 0px 6px 11px -1px rgba(0,0,0,0.15);

                            @include respond(desktop) {
                                position: relative;
                                width: 100%;
                                background:none;
                                padding: 0 !important;
                                transition:none;
                                margin-top:10px;
                                margin-bottom: 10px;
                                box-shadow: none;
                                left:auto !important;
                                margin-left: 0;
                                top:0;
                            }
                            
                            li {
                                display:block;
                                margin: 0;
                                padding-bottom: 0;
                                height:auto;

                                &::before {
                                    display:none;
                                }

                                &.menu-item-12418 {
                                    ul.sub-menu {
                                        width:200px;
                                    }
                                }
                                @include respond(desktop) {
                                    padding: 0;
                                    border-bottom: none;
                                }

                                a {
                                    color:$blk;
                                    font-family: $sans;
                                    font-size: 16px;
                                    text-transform: none;
                                    letter-spacing: 0;
                                    transition:.3s ease all;
                                    padding: 10px 30px !important;
                                    line-height: 100%;
                                    color:$blk;
                                    transition: $trans;
                                    font-weight: 400;
                                    border:none;
                                    width: 100% !important;
                                    box-sizing: border-box;
                                    margin-left: 0 !important;

                                    &::before {
                                        content: "";
                                        position: absolute;
                                        z-index: -1;
                                        top: 0;
                                        left: 0;
                                        right: 0;
                                        bottom: 0;
                                        width:100%;
                                        background: $green;
                                        transform: scaleX(0);
                                        transform-origin: 0 50%;
                                        transition-property: transform;
                                        transition-duration: 0.3s;
                                        transition-timing-function: ease-out;
                                        transition-delay:0s;
                                    }
                                
                                    &:hover::before {
                                        transform: scaleX(1);
                                    }

                                    @include respond(desktop) {
                                        padding: 10px !important;
                                    }

                                    &::after {
                                        content:"\e90e";
                                        font-family: $icomoon;
                                        position:absolute;
                                        right:15px;
                                        opacity:0;
                                        margin-left: 0;
                                        font-size: 10px;
                                    }

                                    @include swipe;

                                    &:hover {
                                        color:$blk;
                                        font-weight: 700;
                                        transition: $trans;

                                        &::after {
                                            -webkit-animation: .3s ease 0s normal forwards 1 arrow-left;
                                            animation: .3s ease 0s normal forwards 1 arrow-left;
                                        }
                                    }
                                }

                                &.current-menu-item {
                                    a {
                                        font-weight: 700;
                                        transition:.3s ease all;
                                        @include respond(desktop) {
                                            color:$blk;
                                        }
                                    }
                                }
                            }
                            &:hover li.menu-item-has-children {
                                color:$white;
                            }
                        }
                    }
                }

                #menu-main-nav-search {
                    .main-nav-search {
                        margin-left: 30px !important;

                        a {
                            font-size: 0;
                            position: relative;
                            height:40px;
                            width:40px;
                            box-sizing: border-box;
                            padding: 0;
                            display:flex;
                            border-radius: 50%;
                            background-color: $green;
                            justify-content: center;
                            align-items:center;

                            &::after {
                                content: "\e905";
                                font-family: $icomoon;
                                color:$blk;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
    #header-top_mobile {
        display:none;

        @include respond(desktop) {
            display: block;
            position: absolute;
            transform: translateY(-50%);
            right: 15px;

            #menu-icon {
                width: 40px;
                height: 25px;
                position: relative;
                display: block;
                margin-top: 0;
                margin-right: 0;

                .line {
                    display: block;
                    background:$blk;
                    width: 40px;
                    height: 2px;
                    position: absolute;
                    left: 0;
                    transition: .2s ease all;
                    -webkit-transition: .2s ease all;
                    -moz-transition: .2s ease all;

                        &.line-1 {
                            top: 0;
                        }
                        &.line-2 {
                            top: 50%;
                        }
                        &.line-3 {
                            top: 100%;
                        }
                    }
                    &.active {

                        .line-1 {
                            transform: translateY(12px) translateX(0) rotate(-135deg);
                            -webkit-transform: translateY(12px) translateX(0) rotate(-135deg);
                            -moz-transform: translateY(12px) translateX(0) rotate(-135deg);
                        }

                        .line-2 {
                            opacity: 0;
                        }

                       .line-3 {
                            transform: translateY(-12px) translateX(0) rotate(135deg);
                            -webkit-transform: translateY(-12px) translateX(0) rotate(135deg);
                            -moz-transform: translateY(-12px) translateX(0) rotate(135deg);
                        }
                    }
                }
            }
        }

    //nav searchbar
    .navbar-form-search {
        position: relative;
        z-index: 10;
        margin-top: -3px;

        @include respond(desktop) {
            height:90px;
            display:flex;
            justify-content: center;
            align-items: center;
            margin-top: 0;
        }

        .search-form-container {
            text-align: right;
            position: absolute;
            width: 250px;
            overflow: hidden;
            background: $white;
            right: 35px;
            top: 30px;
            z-index: 9;
            transition: all .3s ease-in-out;
            border-radius: 25px;
            padding-left: 15px;
            box-sizing: border-box;

            @include respond(desktop) {
                width:100%;
                left:0;
                right: auto;
                top:auto;
                border-radius: 0;
                background: $white;
                position: relative;
                padding:0 10px;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 10px;
            }
            
            &.hdn {
                width: 0;
                padding:0;

                @include respond(desktop) {
                    width:100%;
                }

                & ~ .btn-search {
                    height:39px;
                    border-radius: 0 10px 10px 0;
                    background: unset;
                    padding:8px 0 !important;
                    &:hover {
                        .icon-magnifying-glass:before {
                            color: $grey;
                        }
                    }
                    
                    @include respond(desktop) {
                        height: 44px;
                        background: none;
                        padding: 0 !important;
                        position: absolute;
                        z-index: 80;
                        right: 10px;
                        top: 3px;
                        width: 44px;
                        border-radius: 0;
                        border: none;

                        span {
                            background: $green;
                            color:$blk;
                            height: 44px;
                            width: 44px;
                            font-size: 16px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-top: 0;
                            border-radius: 50%;
                            margin-left: 0px;
                        }
                        
                        .icon-magnifying-glass:before {
                            color: $blk;
                        }
                    }
                    span {
                        color:$blk;
                    }
                }
            }

            .search-input-group {
                width: 250px;
                display: flex;
                padding: 5px;
                height:30px;

                @include respond(desktop) {
                    width:100%;
                    padding:0;
                    height:auto;
                }

                .form-group {
                    @include respond(desktop) {
                        width:100%;
                        margin:10px;
                    }
                }

                .btn {
                    border: 0;
                    background: $grey;
                    font-size: 1.6rem;
                    padding: 4px 8px 0;
                    border-radius: 5px 0 0 5px;
                    height: 32px;

                    @include respond(desktop) {
                        display:none;
                    }

                    span {
                        color:$white;
                    }
                }
            }
        }

        #hide-search-input-container {
            display: block;
            position: absolute;
            right: -40px;
            top:20px;

            @include respond(desktop-lg) {
                right:-30px;
            }

            span {
                color:$white;
                font-size: 18px;
            }

            &.hdn {
                display:none;
            }
        }

        .form-control {
            width: 175px;
            padding: 6px 0;
            font-size: 16px;
            border: 0;
            display: flex;
            align-items: center;
            height: 100%;
            box-sizing: border-box;

            @include respond(desktop) {
                width:100%;
                -webkit-appearance: none;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.35);
                padding:10px 20px;
                border-radius: 50px;
            }
        }
        
        .btn {
            border: 0;
            background: transparent;
            font-size: 1.8rem;
            padding:0 !important;
            cursor: pointer;
            &:active,
            &:hover,
            &:focus {
                color: #000;
                outline: none;
                box-shadow: none;
            }
            span {
                color:$blk;
                font-weight: bold;
            }
        }

        .btn-search {
            height:40px;
            border-radius: 0 25px 25px 0;
            background:$white;
            padding:8px 0;
            position: relative;
            top: 10px;
            right: -5px;

            @include respond(desktop) {
                height: 42px;
                background: none;
                padding: 0;
                position: absolute;
                z-index: 80;
                right: 18px;
                top: 4px;
                width: 64px;
                border-radius: 0;
                border: none;
            }

            span {
                background: $green;
                height: 40px;
                width: 40px;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 0;
                border-radius: 50%;
                margin-left: 20px;
            }
        }
    }

    .search-background {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        left: 0;
        top: 0;
        z-index: 9;
        opacity:0;
        visibility:hidden;

        &.searched {
            opacity:1;
            visibility: visible;
        }
    }

}

// one-off fixes 
li.who-we-are ul.sub-menu { width: 340px !important; }                          // global who we are
li.practice-areas ul.sub-menu { min-width: 240px !important; }                  // global practice areas
li.resources ul.sub-menu { min-width: 260px !important; }                       // global resources
li.locations ul.sub-menu { width: 250px !important; }                           // global locations
.single-attorneys {                                                             // attorney bios
    #menu-item-14290 {
        &::before {
            transform: scaleY(0.24) !important;
        }

        .menu-item-12480 {
            a { 
                font-weight: 700 !important; 
            }
        }
    } 
}                      
.category {
    #menu-item-15193 {
        &::before {
            transform: scaleY(0.24) !important;
        }

        .menu-item-15191 {
            a { 
                font-weight: 700 !important; 
            }
        }
    }
}
.parent-pageid-15187 {
    #menu-item-15193 {
        &::before {
            transform: scaleY(0.24) !important;
        }
        .menu-item-15188 {
            a { 
                font-weight: 700 !important; 
            }
        }
    }
}

@include respond(desktop) {
    ul.sub-menu {
        width:100% !important;
        min-width: 100% !important;
    }
}